<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>



  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingConfiguration"  maxReceivedMessageSize="20000000"  maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000"/>
        </binding>
      </basicHttpBinding>

      <webHttpBinding>
        <binding name="webHttpBindingConfiguration"  maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000"/>
        </binding>
      </webHttpBinding>
    </bindings>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <diagnostics>
      <messageLogging logEntireMessage="false" logMalformedMessages="false" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="false"/>
    </diagnostics>
    <!--<services>
      
      <service name="IOrchestration">

        <endpoint address="Soap" binding="basicHttpBinding" contract="WKH.MR.Ovid.WS.Orchestration.IOrchestration" name="router-basic"/>
        <endpoint address="Rest" binding="webHttpBinding" behaviorConfiguration="web" contract="WKH.MR.Ovid.WS.Orchestration.IOrchestration" name="router-web"/>
        --><!--Note this 'works' locally on IIS, but we need to figure out how to make it play nice on azure--><!--
        --><!--<endpoint address="Tcp" binding="netTcpBinding" contract="WKH.MR.Ovid.WS.Routing.IRoutingService" name="router-tcp"/>--><!--

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/router/RoutingService" />
          </baseAddresses>
        </host>
      </service>

    </services>-->
    <client>
      
      <!--Orchestration Clients-->
      <endpoint address="http://localhost/TimeService/Service1.svc" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="TimeServiceClient.IOrchestration" name="service1-webhttp"/>
      
      
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp faultExceptionEnabled="true" helpEnabled="true"  automaticFormatSelectionEnabled="true"  defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>